<div class="container">
    <p *ngIf="mensagem.length" class="alert alert-info">{{mensagem}}</p>

	<div class="page-header text-center">
	    <h1>{{foto.titulo}}</h1>
	</div>

	<form [formGroup]="meuForm" (submit)="cadastrar()" class="row">
	    <div class="col-md-6">
	        <div class="form-group">
	            <label>Título</label>
	            <input  
					name="titulo" 
					[(ngModel)]="foto.titulo" 
					formControlName="titulo" 
                    class="form-control">

					<div *ngIf="!meuForm.controls.titulo.valid">
						
						<span *ngIf="meuForm.controls.titulo.errors.required" class="form-control alert-danger">
							Título obrigatório
						</span>

						<span *ngIf="meuForm.controls.titulo.errors.minlength" class="form-control alert-danger">
							Título deve ter no mínimo 4 caracteres
						</span>

						<span *ngIf="meuForm.controls.titulo.errors.comecaComMaiuscula" class="alert-danger form-control">
							Deve começar em maiúsculo
						</span>    
     
					</div>
	        </div>

			<div class="form-group">
				<label>URL</label>
				<input 
					name="url" 
					[(ngModel)]="foto.url" 
					formControlName="url"  
					class="form-control">
					
					<span *ngIf="!meuForm.controls.url.valid" class="form-control alert-danger">
						URL obrigatória
					</span> 	
			</div>

        	<div class="form-group">
                <label>Descrição</label>
                <textarea name="descricao" [(ngModel)]="foto.descricao" formControlName="descricao" class="form-control">
                </textarea>
            </div>		
			   
            <meu-botao 
                nome="Salvar" 
                tipo="submit" 
                estilo="btn-primary"
				[desabilitado]="!meuForm.valid">
            </meu-botao>
	   
	         <a [routerLink]="['']" class="btn btn-primary">Voltar</a>
	        <hr>
	    </div>
	    <div class="col-md-6">
	        <foto [url]="foto.url" [titulo]="foto.titulo"></foto>
	    </div>
	</form>
</div>